@font-face {
    font-family: 'OCR A Extended';
    src: url('resources/fonts/OCRAEXT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Standard: Desktop */
body {
    font-family: 'OCR A Extended', monospace;
    margin: 150px;
    color: white;
    font-size: 2em;
}

a {
    color: slategray;

}

/* Smartphone/Tablet: Bis 600px Breite */
@media (max-width: 600px) {
    body {
        margin: 20px;
        font-size: 1em;
    }
}

