@font-face {
    font-family: 'OCR A Extended';
    src: url('../resources/fonts/OCRAEXT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Miriam Mono CLM';
    src: url('../resources/fonts/MiriamMonoCLM-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miriam Mono CLM BOLD';
    src: url('../resources/fonts/MiriamMonoCLM-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Standard: Desktop */
body {
    margin: 0;
    background: #F2F0EF;
    font-family: "OCR A Extended", sans-serif;
}

p{
    font-family: "Miriam Mono CLM", serif;
    font-size: 32px;
}
.site-header {
    background: #000;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.about{
    background-color: black;
    width: 100%;
    height: 700px;
}
.nav {
    display: flex;
    gap: 15vw;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: lowercase;
    font-family: "Miriam Mono CLM", serif;
}


.nav__link--active {
    color: #E60000;
}

.hero {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    margin-left: 20px;

}


.hero__image-wrapper {
    position: relative;
    display: inline-block;

}

.hero__image {
    width: 96vw;
    height: auto;
    display: block;
}

.liquidRender{
    margin-left: -96%;
    margin-top: -200px;
    height: auto;
    width: 70vw;
    position: relative;
    z-index: 999;
}
.flate{
    height: auto;
    width: 20vw;
}
.hero__tags {
    position: absolute;
    top: 90%;
    left: 5%;
    transform: translateY(-50%);

}

.hero__tag-line {
    margin: 0;
    color: #e60000;
    font-size: 32px;
    font-family: "OCR A Extended", monospace;
}
.roW{
    display:flex;
}
.textRight{
    text-align: right;
}
@media (max-width: 920px) {
    body {
        margin: 20px;
        font-size: 1em;
    }
    .site-header {
        display: none;
    }
}

