@font-face {
    font-family: 'OCR A Extended';
    src: url('resources/fonts/OCRAEXT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "OCR A Extended", monospace;
    margin: 150px;
    color: white;
}

